@mixin rect($width, $height) {
    width: $width;
    height: $height;
    position: relative;
}

@mixin center {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
